body {
    font-family: "Roboto", serif;
}

.cell {
    border: 2px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;
}

#gameBoardGrid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

#container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.playerInput {
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
    text-align: center;
    font-size: 1.3rem;
}

button {
    font-size: 1.2rem;
    width: 150px;
    height: 50px;
    margin-top: 20px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.cell>h3 {
    font-size: 4rem;
    margin: 0;
}

.cell0 {
    color: blue;
}

.cell1 {
    color: red;
}